.control-panel-card {
  width: 80%;
  max-width: 1400px;
  background-color: #fff;
  padding: 20px 40px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: "15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff";
  display: "flex";
}

.control-panel-label {
  font-family: "Teko";
  font-size: 30px;
  color: #9e9e9e;
}

.control-panel-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.series-title {
  text-align: left;
  font-family: "Teko";
  font-size: 40px;
}

.line-chart-card {
  max-width: 1400px;
  height: 450px;
  background-color: #fff;
  padding: 40px;
  padding-top: 20px;
  text-align: center;
  width: 80%;
  border: solid 2px #ffffff;
  border-radius: 15px;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.line-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0px;
}

.line-chart-header {
  display: flex;
  align-items: center;
}

.line-chart-header p {
  color: #9e9e9e;
  width: 80px;
  font-size: 18px;
}

.line-chart-header span {
  font-weight: bold;
  color: #757575;
}

.ant-select-selection-item {
  padding-top: 2px !important;
}

.ant-select-selection-placeholder {
  padding-top: 2px !important;
}
.ant-switch-inner {
  width: 40px;
  height: 20px;
  font-size: 14px !important;
}
