.ssv-control-panel-card {
  width: 80%;
  max-width: 1400px;
  background-color: #fff;
  padding: 20px 40px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: "15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff";
  display: "flex";
}

.ssv-control-panel-label {
  font-family: "Teko";
  font-size: 30px;
  color: #424242;
}

.ssv-control-panel-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ssv-series-title {
  text-align: left;
  font-family: "Teko";
  font-size: 40px;
}

.ssv-line-chart-card {
  max-width: 1400px;
  height: 450px;
  background-color: #fff;
  padding: 40px;
  padding-top: 20px;
  text-align: center;
  width: 80%;
  border: solid 2px #ffffff;
  border-radius: 15px;
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.ssv-line-chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0px;
}

.ssv-line-chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ssv-line-chart-header p {
  color: #9e9e9e;
  width: 80px;
  font-size: 18px;
}

.ssv-line-chart-header span {
  font-weight: bold;
  color: #757575;
  font-size: 24px;
}

.ssv-series-stats {
  display: flex;
}

.ant-select-selection-item {
  padding-top: 2px !important;
}

.ssv-ant-select-selection-placeholder {
  padding-top: 2px !important;
}

.ant-switch {
  margin-left: 5px;
  height: 26px;
  width: 90px;
}

.ant-switch-handle {
  width: 22px;
  height: 22px;
  top: 2px;
}

.ant-switch-handle::before {
  border-radius: 100%;
}

.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 18px - 6px);
}

.ant-switch-inner {
  width: 40px;
  height: 25px;
  padding-top: 2.5px;
  font-size: 19px !important;
  margin: 0 25px 0 30px;
}

.ant-switch-checked .ant-switch-inner {
  margin: 0 25px 0 15px;
}
